/* style.csss */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f8f2;
    color:#222;
}

header{
    background:linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.45)),
    url('https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?auto=format&fit=crop&w=1400&q=80');
    background-size:cover;
    background-position:center;
    height:100vh;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 60px;
}

nav h1{
    font-size:32px;
    color:#8cff8c;
}

nav ul{
    display:flex;
    gap:25px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    text-align:center;
    margin-top:180px;
    padding:20px;
}

.hero h2{
    font-size:55px;
    margin-bottom:15px;
}

.hero p{
    font-size:22px;
    margin-bottom:25px;
}

button{
    background:#2e8b57;
    color:white;
    border:none;
    padding:15px 30px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#246b43;
}

section{
    padding:80px 10%;
}

.sobre{
    text-align:center;
}

.sobre h2,
.reserva h2{
    font-size:40px;
    margin-bottom:20px;
}

.sobre p,
.reserva p{
    max-width:800px;
    margin:auto;
    font-size:20px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card{
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    text-align:center;
}

.card h3{
    margin-bottom:15px;
    color:#2e8b57;
}

.reserva{
    text-align:center;
    background:#eaf6e8;
}

footer{
    text-align:center;
    padding:25px;
    background:#111;
    color:#aaa;
}
